.message-list-container {
  .message-container {
    margin-bottom: 1em;
    padding: 1em;
    border: solid 1px #aaaaaa;
    border-radius: 10px;

    .message-subject {
      font-weight: bold;
    }
    .message-date {
      font-style: italic;
    }
    .message-content {
      margin-top: .5em;
    }
  }
}
